<div class="container p-5 my-5 bg-white rounded-4" [dir]="translate.currentLang === 'ar' ? 'rtl' : 'ltr'">
  <!-- Loader -->
  <!-- @if (isLoading) {
    <div class="loader-container">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }

  @if (hasError && !isLoading) {
    <div class="alert alert-danger text-center">
      {{ errorMessage }}
      <button class="btn btn-sm btn-outline-danger ms-2" (click)="loadPrivacyPolicy()">
        {{ 'common.retry' | translate }}
      </button>
    </div>
  }

  @if (!isLoading && !hasError) {

    <div class="policy-content" [innerHTML]="policyContent"></div>
    
    } -->
  <div class="policy-content d-flex flex-column g-1">
    <span class="fw-bolder fs-4 text-black mb-5 mt-5">Our privacy</span>
    <br />
    <p>
      As a customer of flytoall Group trading as flytoall TRAVELS, you are in complete control of your travel planning needs.
      This includes controlling the use of information you provide flytoall Group trading as flytoall TRAVELS. When you
      reserve or purchase travel services through flytoall Group trading as flytoall TRAVELS, we provide information about you
      to the airline, car rental agency, hotel, flytoall Group trading as flytoall TRAVELS or other involved third party to
      ensure the successful fulfilment of your travel arrangements. We also use information you provide during
      registration or as part of the reservation process to customize the content of our site to meet your specific
      needs and to make product improvements to flytoall Group trading as flytoall TRAVELS. flytoall Group trading as flytoall
      TRAVELS will send you an e-mail message confirming each reservation you transact online. We do not sell individual
      customer names or other private profile information to third parties. As a member or contest entrant you will
      occasionally receive updates from us about fare sales in your area, special offers, new flytoall Group trading as
      flytoall TRAVELS services and noteworthy news. We hope you will find these updates interesting and informative. flytoall
      Group trading as flytoall TRAVELS reserves the right to limit membership to those who will accept e-mails. We respect
      and will continue to respect the privacy of our customers who use flytoall Group trading. <br />
    </p>
    <span class="fw-bolder fs-4 text-black mb-5 mt-5"> DATA PROTECTION AND PRIVACY POLICY </span>
    <br />
    <p>
      Privacy and Data Protection is a huge priority to our company and we respect and understand the importance. We
      preserve your personal information when visiting our site or communicate electronically with us and we commit to
      safeguard your personal information. We tend to collect information for the below: Contact details & Full
      Passengers names including date of birth, telephone number, address and email address Personal Information that is
      completed on our website when purchasing a product or service from us Personal Information provided to us when you
      communicate with us through our contact forms or speak to our customer service agents Personal information such as
      full names, address, contact numbers & email address for Job applicants who have applied for vacancies. If you
      subscribed to our Newsletter to receive weekly updates & offers on our products Details of your visits to our
      website to help gather information to provide an optimum service. We use cookies to track movement around our site
      such as traffic data, location data & also other communication data. There are certain circumstances where we need
      to collect sensitive personal data. It is rare but in these cases we need to oblige by the service provider rules
      & regulations. On notes like this, we act in your interest and only prepare this data having had your consent
      where necessary. Please note that we may have to share data with our worldwide trusted partners, such as Airlines,
      Hoteliers, Car Hire & Airport Parking services & other suppliers in order to arrange and confirm your booking. We
      may also have to disclose information to third parties in relation to concluding your product purchased & support
      services where required. We take reasonable steps to ensure your data is secure and any transactions from our
      website will be encrypted to ensure highest levels of safety. At times, we need to disclose your information
      required by the Law and a request is made by a legal authority. Other than this, we do not share any further
      information with any other companies. The transmission of information via the internet which is not encrypted can
      at any time result to unsecured data, therefore we cannot guarantee the security of this data and this will be at
      your own risk. Any relevant passwords related to your booking given to you by us, our partners or suppliers is
      solely your responsibility to keep this confidential. On a weekly note, we send you our Email Newsletter which
      consists of special travel offers, product update, competitions and forthcoming events. We use the email address
      you share with us for this newsletter and this is held on our secured database. If you do not wish to receive
      these newsletters, you may ask us in writing not to receive it or unsubscribe on the link provided on the
      Newsletter email. Your email address will automatically be removed from the list. As per our general policy, we
      monitor and record telephone calls, customer transactions and activities on our website to help improve our
      service and meet customer satisfaction. All recordings remain our sole property. In order to comply with the law &
      regulations, from time to time we update changes to our privacy policy which is reflected on this page. We highly
      suggest that you read this statement so that you are aware on how we use and gather information.<br />
    </p>
    <span class="fw-bolder fs-4 text-black mb-5 mt-5"> COOKIES </span>
    <br />
    <p>
      We use cookies which are small text files that are downloaded to your computer (or other electronic device) to
      help us improve our website, develop new methods and our services. Cookies enable us to gather information, track
      movement on our site, carry out research and statistical analysis and show details of online activity to help
      improve our content and services. Please be assured that we do not collect or store any of your passwords or
      sensitive data in this process.
    </p>
  </div>
</div>
