@use 'sass:map';
@import 'variables';
@import 'colors';

::ng-deep header {
  position: fixed;
  @media (max-width: $web-view-break-point) {
    position: relative;
  }
}
.banner {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  background-color: map.get($blue, 'one');
  color: white;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: -1px;

  display: flex;
  flex-direction: column;
  min-height: 500px; // fallback for mobile
  height: auto;

  @media (min-width: $web-view-break-point) {
    background-image: url('../../../../public/assets/images/airplane_bg2.jpg');
    background-position: 0 20%;
    background-size: cover;

    min-height: 79vh;
    height: auto;
    z-index: 1;
    // overflow: hidden; // removed to allow searchbox expansion if needed

    span {
      font-family: Poppins;
      font-weight: 800;
      font-size: 3vw;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; // Cover full height now that it's container
      background: linear-gradient(
        180deg,
        #043263 0%,
        rgba(4, 50, 99, 0.94) 11.93%,
        rgba(4, 50, 99, 0.9) 27.4%,
        rgba(4, 50, 99, 0.3) 49.79%,
        rgba(4, 50, 99, 0.192135) 69.06%,
        rgba(4, 50, 99, 0.1) 90.42%,
        rgba(4, 50, 99, 0.1) 100%
      );
      z-index: 2;
      pointer-events: none;
    }

    .title-container,
    .search-box-container {
      position: relative;
      z-index: 3;
    }

    .title-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .search-box-container {
      width: 100%;
      position: absolute;
      bottom: -15%;

      .search-box {
        width: 85%;
        margin: auto;
        app-flights-search-box {
          width: 100%;
        }
      }
    }
  }
}

.promo {
  margin-block: 0 35px;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: 0 30%;
  background-color: map.get($blue, 'one');
  color: white;
  margin-top: 12rem;
  border-radius: 1rem;

  span {
    font-size: 3rem;
  }
  
  @media (max-width: $web-view-break-point) {
    object-position: center;
    padding: 2rem;

    span {
      font-size: 2.5rem;
    }
  }
}

::ng-deep .drop-down {
  color: white !important;
}

.search-box {
  max-width: 100%;
}
